In [2]:
import pandas as pd

df = pd.read_csv('Student Mental Health Analysis During Online Learning.csv')
df

,Name,Gender,Age,Education Level,Screen Time (hrs/day),Sleep Duration (hrs),Physical Activity (hrs/week),Stress Level,Anxious Before Exams,Academic Performance Change
0,Aarav,Male,15,Class 8,7.1,8.9,9.3,Medium,No,Same
1,Meera,Female,25,MSc,3.3,5.0,0.2,Medium,No,Same
2,Ishaan,Male,20,BTech,9.5,5.4,6.2,Medium,No,Same
3,Aditya,Male,20,BA,10.8,5.6,5.5,High,Yes,Same
4,Anika,Female,17,Class 11,2.8,5.4,3.1,Medium,Yes,Same
...,...,...,...,...,...,...,...,...,...,...
995,Diya,Female,26,MA,11.3,6.8,9.1,Medium,No,Same
996,Aarav,Male,20,BTech,5.5,6.7,6.8,Low,Yes,Same
997,Myra,Female,15,Class 9,7.1,4.1,1.9,Low,Yes,Declined
998,Myra,Female,20,BA,4.4,7.5,4.5,Medium,No,Improved
999,Vihaan,Male,23,MA,10.8,7.7,3.6,Low,No,Improved

In [ ]:
#Apakah screen time tinggi berkorelasi dengan penurunan performa akademik
#Apakah ada siswa yang memiliki waktu tidur kurang dari 7 jam
#Apakah siswa yang kurang physical Activity akan mengalami Stress Level
#Apakah ada siswa yang mengalami penurunan performa akademik
#Siswa mana yang memiliki Stress Level yang paling tinggi
#Apakah ada siswa yang memiliki Anxious Before High